[submodule "Source/AnimatedConverters"]
	path = Source/AnimatedConverters
	url = https://github.com/net-lisias-kspu/AnimatedConverters.git
[submodule "Source/AnisotropicPartResizer"]
	path = Source/AnisotropicPartResizer
	url = https://github.com/net-lisias-kspu/AnisotropicPartResizer.git
[submodule "Source/MultiAnimators"]
	path = Source/MultiAnimators
	url = https://github.com/net-lisias-kspu/MultiAnimators.git
